.action {
    opacity: 0;
    transform: translateY(6rem);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.action.active {
    opacity: 1;
    transform: translateY(2rem);
}

.pointer-events-none {
    pointer-events: none;
  }